@font-face {
    font-family: "mono";
    src: url("../fonts/TT Interphases Pro Mono Trial Regular.ttf");
}
@font-face {
    font-family: "JHM";
    src: url("../fonts/JMH Typewriter-Thin.ttf");
}
@font-face {
    font-family: "lemon";
    src: url("../fonts/LEMONMILK-Regular.otf");
}
@font-face {
    font-family: "oldNewspaper";
    src: url("../fonts/OldNewspaperTypes.ttf");
}
@font-face {
    font-family: "necto";
    src: url("../fonts/NectoMono-Regular.otf");
}
@font-face {
    font-family: "jura";
    src: url("../fonts/Jura-VariableFont_wght.ttf");
}

body {
    text-align: center;
}

h5 {
    background-color: #5c3cdc;
    margin: 7em auto;
    color: #04ebac;
    width: 650px;
    border-radius: 5px;
    font-family: "mono";
    padding: 5px 0;
}

main {
    color: #5c3cdc;
    margin: 0 auto;
    width: 650px;
    padding: 2em;
}

main:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }


article:nth-of-type(1) p {
    font-family: "oldNewspaper"; 
    font-size: 20px;
}

article:nth-of-type(2) p {
    font-family: "lemon"; 
    font-size: 15px;
}

article:nth-of-type(3) p {
    font-family: "JHM"; 
    font-size: 25px;
    color:#ffffff;
    background-color: #04ebac;
    padding: 20px;
    border-radius: 10px;
}

article:nth-of-type(4) p {
    font-family: "necto"; 
    font-size: 18px;
}

article:nth-of-type(5) p {
    font-family: "jura";
    font-size: 12px;
    color:#04ebac;
    background-color: #5c3cdc;
    padding: 20px;
    border-radius: 10px;
}

